// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2019 Icenowy Zheng <icenowy@aosc.io>
 */

/dts-v1/;
#include "sun8i-v3.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	model = "Vink Teso S3";
	compatible = "sipeed,lichee-zero-plus", "sochip,s3",
		     "allwinner,sun8i-v3";

	aliases {
		serial0 = &uart1;
		serial1 = &uart2;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
	
	leds {
		compatible = "gpio-leds";
		
		blue1_led {
			label = "licheepi:blue:usr";
			gpios = <&pio 3 4 GPIO_ACTIVE_LOW>; /* PD4 */
		};

		green1_led {
			label = "licheepi:green:usr";
			gpios = <&pio 4 16 GPIO_ACTIVE_LOW>; /* PE16 */
			default-state = "on";
		};

		red1_led {
			label = "licheepi:red:usr";
			gpios = <&pio 4 2 GPIO_ACTIVE_LOW>; /* PE2 */
		};
		
        blue2_led {
			label = "licheepi:blue:usr";
			gpios = <&pio 3 11 GPIO_ACTIVE_LOW>; /* PD11 */
		};

		green2_led {
			label = "licheepi:green:usr";
			gpios = <&pio 3 8 GPIO_ACTIVE_LOW>; /* PD8 */
			default-state = "on";
		};

		red2_led {
			label = "licheepi:red:usr";
			gpios = <&pio 3 10 GPIO_ACTIVE_LOW>; /* PD10 */
		};
		
//        blue3_led {
//			label = "licheepi:blue:usr";
//			gpios = <&pio 1 10 GPIO_ACTIVE_LOW>; /* PB10 */
//		};
//
//		green3_led {
//			label = "licheepi:green:usr";
//			gpios = <&pio 1 6 GPIO_ACTIVE_LOW>; /* PB6 */
//			default-state = "on";
//		};
//
//		red3_led {
//			label = "licheepi:red:usr";
//			gpios = <&pio 1 7 GPIO_ACTIVE_LOW>; /* PB7 */
//		};
		
        blue4_led {
			label = "licheepi:blue:usr";
			gpios = <&pio 3 16 GPIO_ACTIVE_LOW>; /* PD16 */
		};

		green4_led {
			label = "licheepi:green:usr";
			gpios = <&pio 3 14 GPIO_ACTIVE_LOW>; /* PD14 */
			default-state = "on";
		};

		red4_led {
			label = "licheepi:red:usr";
			gpios = <&pio 3 15 GPIO_ACTIVE_LOW>; /* PD15 */
		};
	};

    user_io@0 {
        compatible = "mydevice,generic-uio,ui_pdrv";
        status = "okay";
        interrupt-parent = <&pio>;
        interrupts = <1 13 IRQ_TYPE_EDGE_FALLING>; /* PB13 */
    };
	
    custom_gpio_export {
        compatible = "gpio-leds";

        lte_pwr {
			label = "lte_pwr";
			gpios = <&pio 4 18 GPIO_ACTIVE_HIGH>; /* PE18 */
			default-state = "off";
		};

        lte_3_3v {
			label = "lte_3_3v";
			gpios = <&pio 3 0 GPIO_ACTIVE_HIGH>; /* PD0 */
			default-state = "on";
		};

        usb_hub_rst {
			label = "usb_hub_rst";
			gpios = <&pio 4 14 GPIO_ACTIVE_HIGH>; /* PE14 */
			default-state = "on";
		};

        vbus_det {
			label = "vbus_det";
            gpios = <&pio 6 12 GPIO_ACTIVE_HIGH>; /* PG12 -- VBUS_DET */
			default-state = "off";
		};
		
		wifi_en {
			label = "wifi_en";
            gpios  = <&pio 4 21 GPIO_ACTIVE_HIGH>; /* PE21 */
			default-state = "on";
		};
	};

	reg_vcc3v3: vcc3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};
	wifi_pwrseq: wifi_pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&pio 3 2 GPIO_ACTIVE_LOW>; /* PD2 */
		clocks = <&rtc 1>;
		clock-names = "ext_clock";
	};
	
    syscon: syscon@1c00000 {
        compatible = "allwinner,sun8i-v3s-system-controller", "allwinner,sun8i-h3-system-control", "syscon";
        reg = <0x01c00000 0x1000>;
        #address-cells = <1>;
        #size-cells = <1>;
        ranges;

        sram_c: sram@1d00000 {
            compatible = "mmio-sram";
            reg = <0x01d00000 0x80000>;
            #address-cells = <1>;
            #size-cells = <1>;
            ranges = <0 0x01d00000 0x80000>;

            ve_sram: sram-section@0 {
                compatible = "allwinner,sun8i-v3s-sram-c", "allwinner,sun4i-a10-sram-c1";
                reg = <0x000000 0x80000>;
            };
        };
    };	
	
	cedarx: video-codec@1c0e000 {
        compatible = "allwinner,sun8i-v3-cedar";
        reg = <0x01c0e000 0x1000>;
        clocks = <&ccu CLK_BUS_VE>, <&ccu CLK_VE>, <&ccu CLK_DRAM_VE>;
        clock-names = "ahb", "mod", "ram";
        resets = <&ccu RST_BUS_VE>;
        interrupts = <GIC_SPI 58 IRQ_TYPE_LEVEL_HIGH>;
        allwinner,sram = <&ve_sram 1>;
        status = "okay";
    };
        
    ion: ion {
        compatible = "allwinner,sunxi-ion";
        status = "okay";
        heap_cma@0{
            compatible = "allwinner,cma";
            heap-name  = "cma";
            heap-id    = <0x4>;
            heap-base  = <0x0>;
            heap-size  = <0x0>;
            heap-type  = "ion_cma";
        };
    };
	
    emac: ethernet@1c30000 {
            compatible = "allwinner,sun8i-h3-emac";
            syscon = <&syscon>;
            reg = <0x01c30000 0x10000>;
            interrupts = <GIC_SPI 82 IRQ_TYPE_LEVEL_HIGH>;
            interrupt-names = "macirq";
            resets = <&ccu RST_BUS_EMAC>;
            reset-names = "stmmaceth";
            clocks = <&ccu CLK_BUS_EMAC>;
            clock-names = "stmmaceth";
            status = "disabled";

            mdio: mdio {
                #address-cells = <1>;
                #size-cells = <0>;
                compatible = "snps,dwmac-mdio";
            };

            mdio-mux {
                compatible = "allwinner,sun8i-h3-mdio-mux";
                #address-cells = <1>;
                #size-cells = <0>;

                mdio-parent-bus = <&mdio>;
                /* Only one MDIO is usable at the time */
                internal_mdio: mdio@1 {
                    compatible = "allwinner,sun8i-h3-mdio-internal";
                    reg = <1>;
                    #address-cells = <1>;
                    #size-cells = <0>;

                    int_mii_phy: ethernet-phy@1 {
                        compatible = "ethernet-phy-ieee802.3-c22";
                        reg = <1>;
                        clocks = <&ccu CLK_BUS_EPHY>;
                        resets = <&ccu RST_BUS_EPHY>;
                    };
                };

                external_mdio: mdio@2 {
                    reg = <2>;
                    #address-cells = <1>;
                    #size-cells = <0>;
                };
            };
        };
    
    udmabuf@0x00 {
		compatible = "ikwzm,u-dma-buf";
		device-name = "udmabuf0";
		size = <0x008E7000>;
    };
};

&emac {
    phy-handle = <&int_mii_phy>;
    phy-mode = "mii";
    allwinner,use-internal-phy;
    status = "okay";
};

&mmc1 {
	vmmc-supply = <&reg_vcc3v3>;
	vqmmc-supply = <&reg_vcc3v3>;
	mmc-pwrseq = <&wifi_pwrseq>;
	bus-width = <4>;
	non-removable;
	no-1-8-v;
	status = "okay";

	brcmf: wifi@1 {
		reg = <1>;
		compatible = "brcm,bcm4354-sdio";
		interrupt-parent = <&pio>;
		interrupts = <4 24 IRQ_TYPE_LEVEL_LOW>; /* PE24 / EINT10 */
		interrupt-names = "host-wake";
    };
};

&codec {
	allwinner,audio-routing =
		"LINEIN", "Line In",
		"MIC1",	"MBIAS",
		"MIC1", "Mic";
	status = "okay";
};

&mmc2 {
    non-removable;
    vmmc-supply = <&reg_vcc3v3>;
    bus-width = <8>;
    max-speed = <50000000>;
    mmc-ddr-3_3v;
    cap-mmc-hw-reset;
    status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart2_pins>, <&uart2_rts_cts_pins>;
	uart-has-rtscts;
	status = "okay";

	bluetooth {
		compatible = "brcm,bcm43540-bt";
		clocks = <&rtc 1>;
		clock-names = "lpo";
		vbat-supply = <&reg_vcc3v3>;
		vddio-supply = <&reg_vcc3v3>;
		device-wakeup-gpios = <&pio 4 12 GPIO_ACTIVE_HIGH>; /* PE12 */
		host-wakeup-gpios = <&pio 4 11 GPIO_ACTIVE_HIGH>; /* PE11 */
		shutdown-gpios = <&pio 4 23 GPIO_ACTIVE_HIGH>; /* PE23 */
		max-speed = <1500000>;
	};
};

&pio {

    gpios = <&pio 3 3 GPIO_ACTIVE_LOW>; /* PD3 -- BAL_IN_EN */

    uart2_pins: uart2-pins {
		pins = "PB0", "PB1";
		function = "uart2";
	};
	
	uart2_rts_cts_pins: uart2-rts-cts-pins {
		pins = "PB2", "PB3";
		function = "uart2";
	};
};

&usb_otg {
	dr_mode = "otg";
	status = "okay";
};

&usbphy {
	status = "okay";
};

&ehci0 {
    status = "okay";
};

&ohci0 {
    status = "okay";
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins>;
	status = "okay";
	
	axp209: pmic@34 {
        compatible = "x-powers,axp209";
		reg = <0x34>;
		interrupt-parent = <&gic>;
        interrupts = <GIC_SPI 32 IRQ_TYPE_LEVEL_HIGH>;
        interrupt-controller;
        #interrupt-cells = <1>; 
        
        axp_gpio: gpio {
            compatible = "x-powers,axp209-gpio";
            gpio-controller;
            #gpio-cells = <2>;
        };
	};
	
    typec_tusb320:tusb320@60 {
        compatible = "ti,tusb320";
        reg = <0x60>;
        int-gpios = <&pio 1 10 GPIO_ACTIVE_LOW>; /* PB10 */
        otg-vbus-gpios = <&pio 3 9 GPIO_ACTIVE_LOW>; /* PD9 */
    };

    usb2422: usb2422@2c {
		compatible = "microchip,usb2422";
		reg = <0x2c>;
	};

};

#include "axp209.dtsi"

&battery_power_supply {
	status = "okay";
};

&axp_gpio {
	gpio1_adc: gpio1-adc {
		pins = "GPIO1";
		function = "adc";
	};
};

&i2c1 {
    pinctrl-names = "default";
    pinctrl-0 = <&i2c1_pins>;
    status = "okay";
    
    tc358743: tc358743@f {
        compatible = "toshiba,tc358743";
		reg = <0x0f>;
		interrupts-extended = <&pio 1 11 IRQ_TYPE_LEVEL_LOW>;
		clocks = <&tc358743_clk>;
		clock-names = "refclk";
		
		tc358743_clk: bridge-clk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <27000000>;
		};

		port {
			tc358743_out: endpoint {
                remote-endpoint = <&mipi_csi2_in>;
                port-index = <0>; /* CSI A */
                        bus-width = <2>; 
                        data-lanes = <1 2 3 4>;
                        clock-lanes = <0>;
                        clock-noncontinuous;
                        link-frequencies = /bits/ 64 <297000000>;
				};
        };
    };
};

&csi0 {
    status = "okay";
    allwinner,mipi-csi-bps = <594000000>;
    port {
        mipi_csi2_in: endpoint {
            remote-endpoint = <&tc358743_out>;
            data-lanes = <1 2 3 4>;
            clock-lanes = <0>;
        };
    };
};

